:root {
    --cor1: #1B676B;
    --cor2: #519548;
    --cor3: #88C425;
    --cor4: #BEF202;
    --cor5: #EAFDE6;        
    
    --fonte-principal: Montserrat, sans-serif;
    --fonte-secundaria: open Sans, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-secundaria);
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background: linear-gradient(180deg,  #0D2B2C 0%, #519548 100%);

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#header-container {
    width: 100%;
    max-width: 430px;
    height: 60px;
    padding: 0 24px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: none;
}

#icone-seta-retorno {
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;
    font-size: 24px;
}

h1 {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 28px;
    color: #f5f5f5;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    line-height: 1;

}

div {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

i {
    font-size: 32px; 
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#seletor-data {
    width: 386px;
    height: 70px;
    align-items: center;
    margin-top: 37px;
    background-color: #87c42581;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: opacity 0.5s ease;
}

#seletor-data:hover {
    opacity: 0.8;
}

#seletor-data:active {
    background-color: #6e9f1e81;
}

#calendario {
    margin-left: 24px;
}

#exibicao-data-despesa {
    background: none;
    border: none;
    width: 95px ;
    color: white;
    outline: none;
    
}

#exibicao-data-despesa::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Esconde o input "date" real */
.entrada-data-escondida {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    -webkit-appearance: none;/* remove o ícone de calendário padrão em Webkit (Chrome, Safari, Edge) */
    appearance: none; /* Remove o jeito padrão do navegador */
}

/* Remove o ícone de calendário padrão para Firefox */
.entrada-data-escondida::-webkit-calendar-picker-indicator {
    display: none; /* Esconde o indicador de calendário no Webkit */
}
.entrada-data-escondida::-moz-calendar-picker-indicator {
    display: none; /* Esconde o indicador de calendário no Firefox */
}

#icone-seta-data {
    color: white;
    font-weight: bold;
    margin: auto 24px auto 10px;
    cursor: pointer;
}

#descricao-despesa {
    width: 386px;
    height: 140px;
    margin-top: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#descricao-despesa textarea {
    width: 100%;
    padding-left: 10px;
    padding-top: 15px;
    border-radius: 10px;
    resize: none;
    outline: none;
    transition: background-color 0.2s ease;
}

#descricao-despesa textarea:hover {
    background-color: #ededed;
}

#descricao-despesa textarea:focus {
    background-color: #dcdbdb;
}

#seletor-valor {
    width: 386px;
    height: 70px;
    margin-top: 30px;
    background-color: var(--cor5);
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#seletor-valor:hover {
    background-color: #dff1bb;
}

#seletor-valor:active {
    background-color: #cae88e;
}

#icone-valor {
    background-color: var(--cor2);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 20px;
}

#label-valor {
    color: var(--cor2);
    font-weight: 600;
    position: relative;
    margin: auto;

}

#valor {
    background: transparent;
    border: none;
    outline: none;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    outline: none;
}

#valor::placeholder {
    color: var(--cor2);
    opacity: 0.9;
}

#icone-seta-valor {
    color: var(--cor2);
    font-weight: bold;
    margin: auto 24px auto 10px; /* Espaçamento da seta */
    cursor: pointer;
}

#labels {
    box-shadow: none;
}

/*titulo metodo-pagamento*/
#label-metodo-pagamento {
    margin-right: 68px;
    color: var(--cor5);
    font-weight: 600;
    margin-top: 30px;
}

/*titulo tipo-gasto*/
#label-tipo-gasto {
    color: var(--cor5);
    font-weight: 600;
    margin-top: 30px;
}

/*section metodo-pagamento e tipo-de-gasto*/
#seletor-metodo-pagamento, #seletor-tipo-de-gasto {
    width: 386px;
    height: 40px;
    display: flex;
    margin-top: 10px;
    background-color: var(--cor5);
    border-radius: 10px;
    box-shadow: none;
}

/*botoes de metodos de pagamento*/
#cartao, #dinheiro-nota, #pix {
    border: none;
    cursor: pointer;
    width: 65px;
    display: flex;
    transition: background-color 0.2s ease;
}
/*colocar efeito de destaque com hover nos button*/
/*botoes de tipos de gasto*/
#investimento, #nao-essencial, #essenciais, #fixos {
    border: none;
    cursor: pointer;
    width: 60px;
    display: flex;
    transition: background-color 0.2s ease;
}

#cartao {
    border-radius: 10px 0 0 10px;
}

#fixos {
    border-radius: 0 10px 10px 0;
}


/*alteração de cor em btn #cartao #investimento e #fixos*/
    .btn-verde-cor1 {
        background-color: var(--cor1);
    }

    .btn-verde-cor1:hover {
        opacity: 0.9;
    }

    .btn-verde-cor1:active {
        background-color: #165458;
    }

/*alteração de cor em btn #dinheiro-nota e #essencial*/
    .btn-verde-cor2 {
        background-color: var(--cor2);
    }

    .btn-verde-cor2:hover {
        opacity: 0.9;
    }

    .btn-verde-cor2:active {
        background-color: #4a8841;
    }

#investimento {
    margin-left: auto;
}

/*alteração de cor em btn #pix e #nao-essencial*/
    .btn-verde-cor3 {
        background-color: var(--cor3);
    }

    .btn-verde-cor3:hover {
        opacity: 0.9;
    }

    .btn-verde-cor3:active {
        background-color: #7ab122;
    }

#botoes-fim {
    margin-top: 45px;
    box-shadow: none;
}

#btn-cancelar {
    display: inline-flex;
    border: none;
    margin-right: 33px;
    height: 60px;
    padding: 20px 9px 20px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 25px 10px 10px 25px;
    background: var(--cor1);
    color: var(--cor5);
    font-weight: 700;
    cursor: pointer;
}

#btn-cancelar:hover {
    background-color: #228186;
}

#btn-cancelar:active {
    background-color: #165458;
    box-shadow: 1px 1px 10px #00000060;
}

#btn-historico {
    display: inline-flex;
    border: none;
    margin-right: 33px;
    height: 60px;
    padding: 20px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--cor3);
    cursor: pointer;
}

#btn-historico:hover {
    background-color: #94d728;
}

#btn-historico:active {
    background-color: #7ab122;
    box-shadow: 1px 1px 10px #00000060;
}

#btn-historico a {
    color: var(--cor5);
    font-weight: 700;
    text-decoration: none;
}

#btn-salvar {
    display: inline-flex;
    border: none;
    height: 60px;
    padding: 20px 22px 20px 21px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 25px 25px 10px;
    background: var(--cor4);
    color: var(--cor1);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

#btn-salvar:hover {
    background-color: #cfff21;
    color: #228186;
}

#btn-salvar:active {
    background-color: #abda02;
    box-shadow: 1px 1px 10px #00000060;
}

footer {
    margin: 24px;
    text-align: center;
}

#creditos {
    font-size: 16px;
    color: #f5f5f5;
}

#creditos a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: 600;
}

#creditos a:hover{
    color: var(--cor3);
    text-decoration: underline;
}

#creditos a:active{
    color: var(--cor1);
    text-decoration: underline;
}